.card-img-top-recipeshow {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  height: 175px;
  margin-bottom: 10px;
}
.recipe-show-banner {
  background-color: #00564A;
  color: #fff;
  text-align: center;
  padding: 20px;
  height: 380px;
  min-width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
}

.card-infos-container {
  display: flex;
  justify-content: center;
}

.green-logo {
    height: 60px;
    width: 60px;
  }

  .card-infos {
    background-color: white;
    color: black;
    box-shadow: 8px 8x 16px rgba(0, 0, 0, 0.2);
    width: 325px;
    padding: 12px;

    h5 {
      margin-top: 10px;
      font-size: 16px;
    }

    p {
      font-size: 13px;
      margin-bottom: 10px;
      // padding-bottom: 5px;
    }

  }

.recipe-name {
  padding-top: 50px;
  font-size: 16px;
  font-weight: 300;
}

.details-container {
  background-color: #FFFBF5;
}

.details-container h5 {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 16px;
  background-color: #FFFBF5;
}

.detail-card {
  overflow-y: scroll;
  display: flex;
  justify-content: space-between;
  background-color: white; /* Light gray background */
  padding: 20px;
  width: 350px;
  height: 320px;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
}

.detail-card .column1,
.detail-card .column2,
.detail-card .column3 {
  flex-direction: column;
  // justify-content: space-between;
}

.detail-card .column1 p,
.detail-card .column2 p {
  font-size: 14px;
  margin: 5px 0;
}


.column1 {
  padding-right: 40px;
}

.detail-card .column1 p {
  margin-left: 20px;
}

.recipeshow-view {
  background-color: #FFFBF5;
  height: 420px;

}
