<div class="card-container">
  <div class="card-pop-up" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Vous choisissez le Cheat Meal ?</h5>
      <h5 class= "card-subtitle">Don't worry! Be Flavy!</h5>
      <p class= "card-text-1">On vous garde la recette au chaud.</p>
      <%= image_tag "pizza.png", class: "pizza-photo" %>
      <p lass= "card-text-2">Partagez-nous une photo de votre repas !</p>
      <p lass= "card-text-3">Nous aussi, on veut se régaler.</p>
    </div>
    <ul class= "icons">
    <li id= "camera-icon"><i class="fa-solid fa-camera"></i><li>
    <li id= "cancel-icon"><i class="fa-solid fa-circle-xmark"></i></li>
    </ul>
  </div>
</div>
