<div class="nav-main">
  <div class="nav-item">
    <%= link_to "/" do %>
      <i class="fa fa-house"></i>
    <% end %>
  </div>
  <div class="nav-item">
    <%= link_to profils_path do %>
      <i class="fa fa-user"></i>
    <% end %>
  </div>
</div>
