<div class="nav-main">
  <div class="nav-item">
    <button class="btn btn-custom">
      <i class="fa fa-house"></i>
    </button>
  </div>
  <div class="nav-item">
    <button class="btn btn-custom dropbtn">
      <i class="fa fa-user"></i>
    </button>

    </div>
  </div>
</div>
