<div id="full_page">

<div id= "top">
<h1>Alors on mange quoi aujourd'hui ?</h1>
<p>Laissez vous surprendre pas votre recette du jour.</p>
<p>Reveillez vos papilles !</p>
<button>Let's cook!</button>
</div>

<div id="down">
  <h3>Votre semaine Flavr en un coup d'oeil</h3>
  <% @recipes.each do |recipe| %>
  <div class="card">
    <strong><% recipe.name %></strong>
    <% recipe.description %>
    <% end %>
  </div>
</div>
</div>
