<header class="green-banner">
  <div class="green-container">
      <div class="position-absolute top-0 start-0 p-3">
        <%= image_tag 'logo.png', alt: 'Flavr Logo', class: 'green-logo' %>
      </div>
      
  </div>
</header>
