


<div class="dashboard-banner">
  <div class="dashboard-container">
     <div class="dropdown position-absolute top-0 end-0 p-4">
      <div href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-bars"></i>
      </div>
      <ul class="dropdown-menu">
        <%= link_to "Supprimer le profil", profil_path(@profil), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </ul>
    </div>
    <div class="position-absolute top-0 start-0 p-3">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', alt: 'Flavr Logo', class: 'green-logo' %>
      <% end %>
    </div>
    <div class="search-container">
      <input type="text" class="search-input" placeholder="Cherchez un ingrédient...">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
</div>

  <div class="card-pref">
    <%= image_tag 'fraise.png', alt: 'fraise', class: 'card-pref-image' %>
      <div class="card-pref-content">
        <i class="fa-solid fa-heart-crack"></i>
        <h5>Fraise</h5>
        <i class="fa-solid fa-heart"></i>
      </div>
        <p>Choix de Flavr</p>
    </div>
