#avatar-selection {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px; /* Espacement entre les options d'avatar */
}

.avatar-option {
  flex: 0 0 calc(33.33% - 10px); /* Chaque option occupe environ 1/3 de la largeur */
  position: relative;
}

.hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.avatar {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.avatar:hover {
  border-color: #D1245D; /* Bordure bleue au survol */
}

.avatar-label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}

.avatar-label.selected {
  border-color: #D1245D; /* Bordure bleue pour l'option sélectionnée */
}
