.green-banner {
  background-color: #00564A;
  color: #fff;
  text-align: center;
  padding: 20px;
}
.green-container {
    width: 600px;
    height: 300px;
    margin: 0 auto;
  }

.green-logo {
    height: 60px;
    width: 60px;
  }
