.green-banner {
  background-color: #00564A;
  color: #fff;
  text-align: center;
  padding: 20px;

  .header-container {
    max-width: 600px;
    margin: 0 auto;
  }

  .header-logo {
    width: 60px;
  }

  & .header-date {
    font-size: 12px !important;
    margin-bottom: 10px;
  }

  .col-12 h1 {
    margin-top: 70px;
    font-size: 36px;
    margin-bottom: 20px;
  }


  .col-12 p {
    font-size: 20px;
  }
}
