.search-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Ajout pour centrer le contenu */
  background-color: white;
  border-radius: 30px;
  height: 36px;
  padding: 0 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto;
}

.search-input {
  border: none;
  outline: none;
  background: none;
  flex: 1;
  font-size: 16px;

  &::placeholder {
    color: rgb(151, 151, 151);
  }
}

.fa-magnifying-glass {
  color: #00564a;
  font-size: 18px;
  padding-left: 10px;
}

