<div class= "playbar-container">
  <div class="nav-item-playbar">
    <%= link_to '#', class: 'nav-link' do %>
      <span class="nav-icon"><i class="fa-solid fa-backward"></i></span>
    <% end %>
  </div>
  <div class="nav-item-playbar">
    <%= link_to '#', class: 'nav-link' do %>
      <span class="nav-icon"><i class="fa-solid fa-play"></i></span> <%#remplacer l'icone play par un icone pause quand on appuie sur play pour mettre sur pause la recette%>
    <% end %>
  </div>
  <div class="nav-item-plyabar">
    <%= link_to '#', class: 'nav-link' do %>
      <span class="nav-icon"><i class="fa-solid fa-forward"></i></span>
    <% end %>
  </div>
</div>
