<div class="recipe-show-banner">
  <div class="position-absolute top-0 start-0 p-3">
    <%= image_tag 'logo.png', alt: 'Flavr Logo', class: 'green-logo' %>
  </div>
  <div>
    <h5 class="recipe-name">Recipe name</h5>
    <div class="card-infos">
      <%= image_tag 'recette.jpeg', class: "card-img-top-recipeshow"%>
      <h5 class= "text-start">Step 3</h5>
      <p class= "text-start">Cooking<p>
    </div>
  </div>
</div>

<div class ="recipeshow-view-step3">
  <div class= "details-container-step3">
   <div class= "step3-title">
    <h5>Cuisinons pas à pas</h5>
    <i class="fa-regular fa-clock"></i>
    </div>
      <div class= "detail-card-step3">
        <div class= "instructions-icons">
          <p>Put your oven on 180°</p>
        </div>
        <div class= "instructions-icons">
          <p>Mix your ingredients</p>
          <i id="down" class="fa-solid fa-play"></i>
        </div>
        <div class= "instructions-icons">
          <p>Boil the water</p>
        </div>
      </div>
  </div>
</div>
