<div class="recipe-show-banner">
  <div class="position-absolute top-0 start-0 p-3">
    <%= image_tag 'logo.png', alt: 'Flavr Logo', class: 'green-logo' %>
  </div>
  <div>
    <h5 class="recipe-name">Recipe name</h5>
    <div class="card-infos">
      <%= image_tag 'recette.jpeg', class: "card-img-top-recipeshow"%>
      <h5 class= "text-start">Step 5</h5>
      <p class= "text-start">Proposition de dressage<p>
    </div>
  </div>
</div>

<div class ="recipeshow-view-step5">
  <div class= "details-container-step5">
   <div class= "step5-title">
    <h5>Dressez votre plat !</h5>
    </div>
      <div class= "detail-card-step5">
        <div class= "card-img">
        </div>
      </div>
  </div>
</div>
