<div class="recipe-show-banner">
  <div class="position-absolute top-0 start-0 p-3">
    <%= image_tag 'logo.png', alt: 'Flavr Logo', class: 'green-logo' %>
  </div>
  <div>
    <h5 class="recipe-name">Recipe name</h5>
    <div class="card-infos">
      <%= image_tag 'recette.jpeg', class: "card-img-top-recipeshow"%>
      <h5 class= "text-start">Step 3</h5>
      <p class= "text-start">Cooking<p>
    </div>
  </div>
</div>

<div class ="recipeshow-view">
  <div class= "details-container">
    <h5>Préparez vos ustensiles de cuisine</h5>
      <div class= "detail-card">
        <div class= "column1 border-right">
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>...</p>
        </div>
        <div class= "column2">
        <p>Knife</p>
        <p>Frying pan</p>
        <p>Mixing bowl</p>
        <p>...</p>
        </div>
        <div class="column3">
        <div class="checkbox"></div>
        <div class="checkbox"></div>
        <div class="checkbox"></div>
        <div class="checkbox"></div>
        </div>
      </div>
    </div>
  </div>
</div>
